body {
  font-family: Poppins;
  background: var(--dark-blue, #0D141E);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  body {
    display: block;
    overflow-x: hidden;
  }
}

@media (min-width: 1200px) {
  .main-content {
    width: 1424px;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  z-index: -1;
}

button {
  padding: 0;
  border: none;
  background: none;
}

@media (min-width: 200px) and (max-width: 1200px) {
  .header {
    width: 376px;
    height: 74px;
    width: 376px;
    border-bottom: 1px solid rgba(102, 104, 106, 0.32);
  }
}

.header-container {
  max-width: 352px;
  padding: 0 12px;
  display: flex;
}
@media (min-width: 1200px) {
  .header-container {
    margin: 0 auto;
    max-width: none;
    padding: 0;
    width: 1424px;
    height: 129px;
    flex-shrink: 0;
    border-bottom: 1px solid rgba(102, 104, 106, 0.32);
  }
}

.header-container__navigation-menu-container-mobile {
  display: flex;
  margin-left: auto;
  padding-top: 17px;
  gap: 10px;
}
@media (min-width: 1200px) {
  .header-container__navigation-menu-container-mobile {
    display: none;
  }
}

.header-container__navigation-mobile-item {
  display: flex;
  width: 44px;
  height: 40px;
  justify-content: center;
}

.header-container__navigation-menu-item-icon {
  width: 100%;
  height: 100%;
}

.header-container__navigation {
  padding-top: 19px;
  display: flex;
}
@media (min-width: 1200px) {
  .header-container__navigation {
    display: flex;
    width: 100%;
    padding: 0;
    align-items: center;
  }
}

.header-container__navigation-logo {
  height: 100%;
  margin: 37px 0px 37px 0px;
}
@media (min-width: 100px) and (max-width: 1199px) {
  .header-container__navigation-logo {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header-container__navigation-logo-mobile {
    display: none;
  }
}

.header-container__navigation-menu-container {
  display: none;
}
@media (min-width: 1200px) {
  .header-container__navigation-menu-container {
    display: flex;
    width: 890px;
    margin-left: auto;
  }
}

.header-container__navigation-menu {
  display: flex;
  width: 100%;
}
@media (max-width: 480px) {
  .header-container__navigation-menu {
    display: none;
  }
}

.header-container__navigation-item {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.header-container__navigation-item:not(:last-child) {
  margin-right: auto;
}

.header-container__navigation-menu-item-text {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-container__navigation-link-item-icon {
  width: 100%;
  height: 100%;
}

.header-container__navigation-menu-item-icon-btn {
  border-radius: 6px;
  display: flex;
  width: 44px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: none;
  flex-shrink: 0;
  background: none;
  padding: 0;
  cursor: pointer;
}

.header-container__navigation-link-menu {
  display: flex;
}

.header-container__navigation-link-item {
  width: 39px;
  height: 39px;
}

.header-container__navigation-link-item:not(:last-child) {
  margin-right: 3px;
}

.about-company-section {
  padding-top: 38px;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 1200px) {
  .about-company-section {
    display: block;
    padding-top: 103px;
  }
}

.about-company-section__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  max-width: 352px;
  padding: 0 12px;
}
@media (min-width: 1200px) {
  .about-company-section__container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 0;
    max-width: none;
    gap: 0;
  }
}

@media (min-width: 1200px) {
  .about-company-section__container-text-btn {
    display: flex;
    gap: 32px;
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .about-company-section__container-text-section {
    display: flex;
    gap: 16px;
    flex-direction: column;
    width: 516px;
  }
}

.about-company-section__container-text {
  color: var(--blue, #29C5F6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 1200px) {
  .about-company-section__container-text {
    font-size: 16px;
  }
}

.about-company-section__container-section-list {
  gap: 30px;
}

.about-company-section__container-section-item {
  display: flex;
  max-height: 72px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px 4px 4px 4px;
  background: linear-gradient(214deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0) 97.69%);
  box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.05) inset;
}
@media (min-width: 1200px) {
  .about-company-section__container-section-item {
    flex-wrap: nowrap;
    border-radius: 4px;
  }
}

.about-company-section__container-section-item:last-child {
  margin-left: auto;
}

.about-company-section__container-section-item:first-child {
  gap: 10px;
  width: 100%;
  background: var(--style-2, radial-gradient(66.33% 66.1% at 50% 17.8%, #29C5F6 0%, #1C8ADE 100%), #29C5F6);
  box-shadow: 0px 3px 0px 0px #004E86;
}
@media (min-width: 1200px) {
  .about-company-section__container-section-item:first-child {
    flex-wrap: nowrap;
    width: auto;
  }
}

.about-company-section__container-section-btn-svg {
  display: flex;
  padding: 24px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.about-company-section__container-section-btn {
  display: flex;
  height: 72px;
  padding: 24px 64px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.about-company-section__container-section-btn-text {
  color: #FFF;
  text-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.54px;
  white-space: nowrap;
}

.about-company-section__container-section-btn2-text {
  color: #FFF;
  text-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.54px;
}

.about-company-section__container-section-btn-icon {
  width: 39px;
  height: 30px;
}

.about-company-section__container-blur {
  position: fixed;
  width: 1019px;
  height: 1019px;
  flex-shrink: 0;
  border-radius: 1019px;
  background: rgba(22, 154, 250, 0.08);
  filter: blur(256px);
  pointer-events: none;
  bottom: 35px;
  left: 55px;
}
@media (min-width: 1200px) {
  .about-company-section__container-blur {
    position: absolute;
    left: 630px;
    bottom: -100px;
    transform: translateX(0);
  }
}

.about-company-section__icon-container {
  width: 319px;
  height: 304px;
  position: relative;
}
@media (min-width: 1200px) {
  .about-company-section__icon-container {
    display: none;
  }
}

.about-company-section__container-icon {
  display: none;
}
@media (min-width: 1200px) {
  .about-company-section__container-icon {
    position: absolute;
    left: 365px;
    bottom: -370px;
    display: block;
  }
}

.about-company-section__container-icon-mobbile {
  position: absolute;
  right: -45px;
  bottom: -110px;
}

.about-company-section__container-caption {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: var(--headline-grad, linear-gradient(43deg, rgba(255, 255, 255, 0.72) 0%, #FFF 39.77%, rgba(169, 198, 215, 0.64) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 1200px) {
  .about-company-section__container-caption {
    font-size: 56px;
  }
}

.about-company-section__container-section-list {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .about-company-section__container-section-list {
    flex-wrap: nowrap;
  }
}

.about-company-section__dashboard {
  position: relative;
  width: 100%;
  flex-shrink: 0;
  border-radius: 4px;
  background: linear-gradient(214deg, rgba(25, 44, 61, 0.48) 0%, rgba(14, 44, 71, 0.48) 100%);
  box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 0.06) inset;
  backdrop-filter: blur(24px);
  border: 0.5px solid;
  border-image-source: linear-gradient(88.43deg, #88D3FD 0.4%, rgba(0, 82, 129, 0.36) 28.93%, rgba(30, 144, 208, 0.42) 57.97%, #42A9CE 99.98%);
  border-image-slice: 1;
}
@media (min-width: 1200px) {
  .about-company-section__dashboard {
    width: 1424px;
    height: 120px;
    margin-top: 149px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.about-company-section__dashboard-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 38px;
}
@media (min-width: 1200px) {
  .about-company-section__dashboard-list {
    padding: 0px 64px;
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .about-company-section__dashboard-item:not(:last-child) {
    margin-right: 121px;
  }
}

.about-company-section__dashboard-item-text {
  color: var(--blue, #29C5F6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1200px) {
  .about-company-section__dashboard-item-text {
    text-align: center;
    margin-bottom: 8px;
  }
}

.about-company-section__dashboard-item-caption {
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about-company-section-capital {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  display: flex;
  position: relative;
  margin-top: -140px;
}
@media (min-width: 1200px) {
  .about-company-section-capital {
    padding-top: 225px;
    margin-top: 0;
  }
}

.about-company-section__capital-container-icon {
  margin-bottom: -20px;
  z-index: -1;
}

.about-company-section__capital-icon {
  display: none;
}
@media (min-width: 1200px) {
  .about-company-section__capital-icon {
    position: absolute;
    left: 840px;
    bottom: -300px;
    display: block;
  }
}

@media (min-width: 1200px) {
  .about-company-section__capital-icon-mobile {
    display: none;
  }
}

@media (max-width: 1199px) {
  .about-company-section__capital-container {
    padding: 0 12px;
  }
}

.about-company-section__capital-container-text {
  display: flex;
  width: 351px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
@media (min-width: 1200px) {
  .about-company-section__capital-container-text {
    width: 772px;
  }
}

.about-company-section__capital-caption {
  background: var(--headline-grad, linear-gradient(43deg, rgba(255, 255, 255, 0.72) 0%, #FFF 39.77%, rgba(169, 198, 215, 0.64) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (min-width: 1200px) {
  .about-company-section__capital-caption {
    font-size: 44px;
  }
}

.about-company-section__capital-text {
  color: var(--blue, #29C5F6);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (min-width: 1200px) {
  .about-company-section__capital-text {
    font-size: 24px;
  }
}

.compare-section {
  padding-top: 62px;
  position: relative;
}
@media (min-width: 1200px) {
  .compare-section {
    padding-top: 212px;
  }
}

.compare-section-radius {
  position: absolute;
  width: 1441px;
  height: 1441px;
  flex-shrink: 0;
  border-radius: 1441px;
  background: rgba(22, 154, 250, 0.08);
  filter: blur(256px);
  right: 775px;
  bottom: -475px;
}
@media (max-width: 1199px) {
  .compare-section-radius {
    display: none;
  }
}

.compare-section-caption {
  width: 351px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 28px;
  background: var(--headline-grad, linear-gradient(43deg, rgba(255, 255, 255, 0.72) 0%, #FFF 39.77%, rgba(169, 198, 215, 0.64) 100%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 1200px) {
  .compare-section-caption {
    font-size: 44px;
    width: 1088px;
  }
}
@media (max-width: 11990px) {
  .compare-section-caption {
    padding: 0 12px;
  }
}

.compare-section-list-container {
  margin-top: 42px;
  padding: 0 12px;
}
@media (min-width: 1200px) {
  .compare-section-list-container {
    margin-top: 117px;
  }
}

.compare-section-list {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .compare-section-list {
    gap: 29px;
    flex-direction: row;
  }
}

.compare-section-item {
  border: 1px solid;
  border-image-source: linear-gradient(88.43deg, #88D3FD 0.4%, rgba(0, 82, 129, 0.36) 28.93%, rgba(30, 144, 208, 0.42) 57.97%, #42A9CE 99.98%);
  border-image-slice: 1;
}

@media (max-width: 1199px) {
  .compare-section-item:first-child {
    margin-right: 3px;
  }
}

@media (max-width: 1199px) {
  .compare-section-item:nth-child(2) {
    margin-right: 5px;
  }
}

@media (max-width: 1199px) {
  .compare-section-item:last-child {
    margin-right: -6px;
  }
}

.compare-section-item-container {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  gap: 15px;
}
@media (min-width: 1200px) {
  .compare-section-item-container {
    padding: 63px;
    gap: 25px;
  }
}

.compare-section-item__caption {
  width: 286px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: var(--headline-grad, linear-gradient(43deg, rgba(255, 255, 255, 0.72) 0%, #FFF 39.77%, rgba(169, 198, 215, 0.64) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.compare-caption__two {
  display: inline-block;
  width: 250px;
}

.compare-section-item__list {
  gap: 15px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .compare-section-item__list {
    gap: 25px;
  }
}

.compare-section-item__list-item {
  display: flex;
  gap: 10px;
  width: 277px;
}
@media (min-width: 1200px) {
  .compare-section-item__list-item {
    width: auto;
  }
}

.compare-section-item__list-item-icon {
  width: 21px;
  height: 24px;
}

.compare-section-item__list-item-text {
  color: var(--blue, #29C5F6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 1200px) {
  .compare-section-item__list-item-text {
    white-space: nowrap;
  }
}

@media (max-width: 1199px) {
  .compare-section-item__list-item-text-wrap {
    white-space: nowrap;
  }
}

.compare-section-item__list-item-text-white {
  color: var(--white, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dynamic-market-section {
  position: relative;
  display: flex;
}

.dynamic-market-icon {
  position: absolute;
}

.dynamic-market-article {
  display: flex;
  width: 879px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.dynamic-market-article-caption {
  font-family: Poppins;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: var(--headline-grad, linear-gradient(43deg, rgba(255, 255, 255, 0.72) 0%, #FFF 39.77%, rgba(169, 198, 215, 0.64) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dynamic-market-article-text {
  color: var(--blue, #29C5F6);
  /* Body main text */
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer {
  padding-top: 235px;
}
@media (max-width: 1199px) {
  .footer {
    display: none;
  }
}

.footer-section {
  width: 352px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  .footer-section {
    width: 1424px;
    position: relative;
  }
}

.footer-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 39px;
}

.footer-container-link-menu {
  display: flex;
  align-items: flex-start;
  gap: 5.069px;
}

.footer-container-link-item {
  width: 65.609px;
  height: 65.617px;
}

.footer-container-link-item-icon {
  width: 65.609px;
  height: 65.617px;
}

.footer-container-text {
  color: var(--medium-glue, #465A79);
  text-align: center;
  /* Body Small */
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-section-icon-container {
  position: absolute;
  left: 910px;
  bottom: -116px;
}
@media (max-width: 1199px) {
  .footer-section-icon-container {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */