.about-company-section-capital{
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    display: flex;
    position: relative;
    margin-top: -140px;
    @media (min-width: 1200px){
    padding-top: 225px;
    margin-top: 0;
    }
}

.about-company-section__capital-container-icon{
    margin-bottom: -20px;
    z-index: -1;
}
.about-company-section__capital-icon{
display: none;
    @media (min-width: 1200px){
        position: absolute;
        left: 840px;
        bottom: -300px;
        display: block;
    }
}
.about-company-section__capital-icon-mobile{

    @media (min-width: 1200px){
        display: none;
    }
}

.about-company-section__capital-container{
    @media (max-width: 1199px){
    padding: 0 12px;
    }
}
.about-company-section__capital-container-text{
    display: flex;
    width: 351px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
@media (min-width: 1200px){
    width: 772px;
    }
}
.about-company-section__capital-caption{
    background: var(--headline-grad, linear-gradient(43deg, rgba(255, 255, 255, 0.72) 0%, #FFF 39.77%, rgba(169, 198, 215, 0.64) 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
@media (min-width: 1200px){
    font-size: 44px;
    }

}
.about-company-section__capital-text{
    color: var(--blue, #29C5F6);
    font-size: 18px;

    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @media (min-width: 1200px){
        font-size: 24px;
        }

}

